*{
    font-family: "Tahoma", Geneva, Verdana, sans-serif !important;
}
body{
background:#f5f7fa;
}


.result{
    font-family: "Tahoma", Geneva, Verdana, sans-serif !important;
    font-size:22px;
    font-weight:bold;
}